{% extends "header.html" %}
{% block content %}
	<script type="text/javascript">
		$(function() {
			$('#lighton').click(function() {
				$('#light').attr("src","static/images/lampon.png");
			
			});
			$('#lightoff').click(function() {
				$('#light').attr("src","static/images/lampoff.png");
			});
		});
	</script>
	<div class="container">	
		<div class="row">
			<div>
				<h1 class="title">Light Switch</h1>
				<br></br>
				<!-- check pin state -->
				{% if pin == 1 %}
					<img src="static/images/lampoff.png" id="light"></p>
					<br></br>
					<input class="button is-info is-large" type="button" onclick="window.location='/on';" value="Turn on"/ id="lighton">
				{% else %}
					<img src="static/images/lampon.png" id="light"></p>
					<br></br>
					<input class="button is-center is-info is-large" type="button" onclick="window.location='/off';" value="Turn off"/ id="lightoff">
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
